@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Satisfy&family=Sunshiney&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-container {
    background-image: url('../public/extra_clean_paper.png');
    background-repeat: repeat;
}

#h1title {
    width: max-content;
    border-bottom: 3px solid black;
    padding: 0 40px ;
}
#note::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    border-width: 0 28px 28px 0;
    border-style: solid;
    border-color: #808074 #ececec;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}




    
